parameters:
	checkMissingIterableValueType: false
	checkFunctionNameCase: true
	level: 6
	paths:
		- .
	excludePaths:
		- vendor
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between int\\<1, max\\> and 0 is always true\\.$#"
			count: 1
			path: SourceQuery/SourceQuery.php
