<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" 
         bootstrap="../SourceQuery/bootstrap.php"
         verbose="true">
	<testsuites>
		<testsuite name="Tests">
			<file>./Tests.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../SourceQuery</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="../build/logs/clover.xml"/>
	</logging>
</phpunit>
